<!doctype html>
<html>
<head>

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="/reveal/css/reveal.min.css">
		<link rel="stylesheet" href="/reveal/css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="/reveal/lib/css/zenburn.css">

		<script src="/socket.io/socket.io.js"></script>

		<script src="/js/jquery.js"></script>	
		<script src="/js/jquery.render.js"></script>
		
		<script src="/js/sting.js"></script>
		<script src="/reveal/js/reveal.js"></script>

</head>
<body>

<div id="reveal-content" class="reveal"></div>


</body>
</html>
